@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
	background: #eee;
	font-family: -apple-system, BlinkMacSystemFont, 'Josefin Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
